body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:white; /* Orange color representing Indian theme */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    width: 30%;
    margin-left: 47%;
} 

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav a {
    color:black;
    text-decoration: none;
}

.hero {
    background-image: url("background.png");
  background-color:white;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 100px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #000080; /* Orange color representing Indian theme */
    color: #fff;
    text-decoration: none;
}

.left {
    width: 50%;
    height: 200px;
    float: left;
    background-color: #fffba9;
}
  
.right {
    width: 50%;
    height: 200px;
    float: right;
    background-color: #fffba9 ;
}
  
.centered {
    color: #d36a02;
    text-align: center;
}

.info p {
    margin-left: 300px;
    color: #e7a360;
}

.info ul li {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin-left: 320px;
}

.info a:link {
    text-decoration: none;
}

.info a:visited {
    color: #e7a360;
}

